:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
}

body {
  --color-background: #FAFAFA;
  --color-foreground: #1F2023;
  --color-shadow: #AAA;
  
  --image-grayscale: 0;
  --image-opacity: 100%;

  
  color: var(--color-foreground);
  background-color: var(--color-background);
}

body.dark {
  --color-background: #1F2023;
  --color-foreground: #EFEFEF;
  --color-shadow: rgba(0, 0, 0 , 0.8);

  
  --image-grayscale: 50%;
  --image-opacity: 90%;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  /* font-size: 1em;
  font-weight: 500;
  font-family: inherit; */
  background-color: #8cabd9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #0a244d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  a:hover {
    color: #747bff;
  }
  /* button {
    background-color: #f9f9f9;
  } */
  /* body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
    background-color: var(--color-background);
    color: var(--color-foreground);
  } */
  /* body {
    --color-background: #1f2023;
    --color-foreground: #efefef;
  } */
}
.react-toggle-track > * { 
  line-height: 10px !important;
  font-size: 14px;
}